<footer>

<div class="social-container">
    <p>Created by {{name}}</p>
    <ul class="social-icons">
        <li><a href="https://www.instagram.com/sarthak_kundra/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://twitter.com/KundraSarthak"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/sarthak-kundra-2b6247189/"><i class="fa fa-linkedin"></i></a></li>
        
    </ul>
</footer>